<%- include("header") -%>

<% for(var i=0;i<polls.length;i++){ %>
    <div class="polls card mb-3">
        <div class="card-body">
            <h5 class="card-title"><%= polls[i].title %></h5>
            <p class="card-text"><%= polls[i].description %></p>
            <a href="/<%=username%>/<%= polls[i]._id %>/viewPoll" class="btn btn-primary">View Poll</a>
            <p class="card-text mt-3"><strong>Winner: </strong><%= polls[i].winner %></p>
        </div>
    </div>
<%}%>

<style>
    .polls{
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
    }
</style>
<%- include("footer") -%>